#minute   Hour   Day of Month       Month          Day of Week        Command
# (0-59)  (0-23)     (1-31)    (1-12 or Jan-Dec)  (0-6 or Sun-Sat)
1 0 * * * /bin/bash -c "/epyc/projects/ztf-go-archivist/bin/run_archivist.sh programid1 &>> /epyc/projects/ztf-go-archivist/log/ztf-go-archivist_programid1.log"
1 0 * * * /bin/bash -c "/epyc/projects/ztf-go-archivist/bin/run_archivist.sh programid3 &>> /epyc/projects/ztf-go-archivist/log/ztf-go-archivist_programid3.log"
